<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <a href="/skills/new">Add Skill</a>
  </nav>
  <body>
    Developer Skills
    <ul>
        <% skills.forEach(function(s){ %>
            <li>
                <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            </li>
            <% }) %>
        </ul>
  </body>
</html>
